<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
</head>
<body>
    <header>
        <nav>
            <div class="menu-bar">
                <button id="menu-button">☰ Menu</button>
            </div>
        
            <div id="slider-menu" class="slider-menu left">
                <a href="#" id="close-button">&times;</a>
                <a href="#home">Home</a>
                <a href="#about">Kangan About</a>
                <a href="#images-body">Nature Gift</a>
                <a href="#videos">Kangan Video</a>
                <a href="#ytvideos">Kangan on Youtube</a>
                <a href="#stories">Benefits</a>
                <a href="#blog">Machine Docters</a>
                <a href="#slider">Mechine Details and Price </a>
                <a href="#contact ">Contact</a>
            </div>
        
            <div class="logo">
                <img src="https://i.postimg.cc/BZ7cyzKJ/stiker.jpg" alt="">
            </div>
           
            <div class="social-media">
                <a href="https://wa.me/1234567890" target="_blank"><img src="https://w7.pngwing.com/pngs/872/916/png-transparent-whatsapp-logo-whatsapp-computer-icons-telephone-call-whatsapp-grass-internet-mobile-phones-thumbnail.png" alt=""></a> 
                <a href="https://facebook.com" target="_blank"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Facebook_Logo_2023.png/900px-Facebook_Logo_2023.png?20231011121526" alt=""></a>
                <a href="https://instagram.com" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/900px-Instagram_icon.png?20200512141346" alt=""></a>
                <a href="https://telegram.me/joinchat/ABCDEFG123456" target="_blank"><img src="https://static-00.iconduck.com/assets.00/telegram-icon-1024x1024-8iffbejo.png" alt=""></a>
            </div>
        </nav>
    </header>
    <section id="home" class="homes">
        <img id="background-video" src="https://i.postimg.cc/Kv9XC08F/bgcimg.jpg">
           <div class="homese">
            <h1>WELCOME TO KANGAN <br>A<br>CHANGER OF LIFE </h1>
            <p>KANGAN WATER MEANS RETURN TO ORIGIN</p>
            <a href="#abouts"><div class="for"><h3>Meaning of this Words</h3></div></a>
        </div>
    </section>
    <section id="machines">
        <section id="about" class="section about-section">
            <h2>About Kangan</h2>
            <div class="container">
                <article class="card-po">
               <div class="grid video-grid">
                  <div class="video">
                      <iframe id="abouts" width="560" height="315" src="https://www.youtube.com/embed/d2GLvyJyy30?si=dqUieoo8H2Pop4Ql"  frameborder="0"  allowfullscreen></iframe>
                  </div>
                </div>
            </article>
            </div>
        </section>
    
    <section id="images-body" class="section images-section">
        <h2>THE GIFT OF NATURE</h2>
        <div class="containr">
            <div class="grid image-grid">
            <div class="bodes">
                <img src="https://staticimg.amarujala.com/assets/images/2018/09/02/gangotri-glacier_1535874518.jpeg?w=674&dpr=1.0" alt="Image 1">
                <h3>Gangotri, India</h3>
            </div>
            <div class="bodes">
                <img src="https://media.istockphoto.com/id/545564864/photo/autumn-in-hunza-valley.jpg?s=612x612&w=0&k=20&c=PVIrofhR0K7kh1Mb4hGP47ZI33krSHrUcjNrf1eoXM0=" alt="Image 2">
                <h3>Hunza Valley, India</h3>
            </div>
            <div class="bodes">
                <img src="https://www.tourmyindia.com/states/jammu-kashmir/image/chashme-shahi-srinagar.jpg" alt="Image 3">
                <h3>Chasma Shahi,India</h3>
            </div>
            <div class="bodes">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/%D8%A8%D8%A6%D8%B1_%D8%B2%D9%85%D8%B2%D9%85_%D8%A7%D9%84%D8%A3%D8%AB%D8%B1%D9%8A.jpg/375px-%D8%A8%D8%A6%D8%B1_%D8%B2%D9%85%D8%B2%D9%85_%D8%A7%D9%84%D8%A3%D8%AB%D8%B1%D9%8A.jpg" alt="Image 4">
                <h3>Zam Zam, Saudi Arabia</h3>
            </div>
            <div class="bodes">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Grotto_of_Lourdes_-_Lourdes_2014_%283%29.JPG/330px-Grotto_of_Lourdes_-_Lourdes_2014_%283%29.JPG" alt="Image 5">
                <h3>Lourdes, France</h3>
            </div>
            <div class="bodes">
                <img src="https://ichef.bbci.co.uk/images/ic/640x360/p06y2g2c.jpg" alt="Image 6">
                <h3>Ticote, Mexico</h3>
            </div>
            </div>
        </div>
    </section>
    <section id="videos" class="section videos-section">
        <h2>Kangan Video</h2> 
        <div class="containr">
            <div class="grid video-grid">          
                <div class="video">
                    <iframe src="https://drive.google.com/file/d/1qRTCalnWjXAOAEvCXima-UG8JgqYzzad/preview" allow="autoplay"allowfullscreen></iframe>
                </div>
                <div class="video">
                    <iframe src="https://drive.google.com/file/d/1-hkbPDWaXBVK9T45ZWJ1MR6phLOpsOqD/preview"mu allow="autoplay"allowfullscreen ></iframe>
                </div>
                <div class="video">
                    <iframe src="https://drive.google.com/file/d/1PRmDWSJ0GH6MMTQerBwhbjRVnHRU9INW/preview" allow="autoplay"allowfullscreen></iframe>
                </div>
                <div class="video">
                    <iframe src="https://drive.google.com/file/d/1I7KRKLkpOc8ZVb83NVDuVFuDr8URx_u2/preview" allow="autoplay"allowfullscreen></iframe>
                </div>
                <div class="video">
                    <iframe src="https://drive.google.com/file/d/1qO32sLszPcs6hb1WL3maFwpfpanWpnDM/preview" allow="autoplay"allowfullscreen></iframe>
                </div>
                <div class="video">
                    <iframe src="https://drive.google.com/file/d/1qSSmApRCRuxUeB92pZvBes13xn2HXyu6/preview" allow="autoplay"allowfullscreen></iframe>
                </div>
                <div class="video">
                    <iframe src="https://drive.google.com/file/d/1uOuFOePKeDRWe3p2Lu2WoHgbtuOoU06_/preview" allow="autoplay"allowfullscreen></iframe>
                </div>
                <div class="video">
                    <iframe src="https://drive.google.com/file/d/1az8aR-0rlZYRBMBQLRNycmMBPVek5v62/preview" allow="autoplay"allowfullscreen></iframe>
                </div>
                <div class="video">
                    <iframe src="https://drive.google.com/file/d/1EO3-yFyphrR3CAZYr9yhsaOSlKMgd2xH/preview" allow="autoplay"allowfullscreen></iframe>
                </div>
                <div class="video">
                    <iframe src="https://drive.google.com/file/d/1f6VQw5Vcqyw9djpnaC2pNEpBdYUc30SU/preview" allow="autoplay"allowfullscreen></iframe>
                </div>
                <div class="video">
                    <iframe src="https://drive.google.com/file/d/1z_oYp7qAZrGIIVa1oBgIzRo1mmS0b_Mc/preview" allow="autoplay"allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    <section id="ytvideos" class="section videos-section">
        <h2>Youtube Videos</h2>
        <div class="containr">
            <div class="grid video-grid">
             
                <div class="bodes">
                    <iframe src="https://www.youtube.com/embed/SHOXFA9HlRM?si=QepgXQ7_wt6ahduC" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="bodes">
                    <iframe src="https://www.youtube.com/embed/vNf0GA_kflU?si=X34ymahJuzhsI7sh" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="bodes">
                    <iframe src="https://www.youtube.com/embed/RWyLej65sd0?si=xhPcJEBO84JrnctX" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="bodes">
                    <iframe src="https://www.youtube.com/embed/SjkuW71eYMg?si=HVQUn1b5Z4ZKiD4X" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="bodes">
                    <iframe src="https://www.youtube.com/embed/vNf0GA_kflU?si=rWiv4u4SNVIv8__u" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <section id="stories" class="section stories-section">
        <h2>Stories</h2>
        <div class="container">
            <div class="grid">
                <div class="card">
                    <h3>Story 1</h3>
                    <p></p>
                </div>
                <div class="card">
                    <h3>Story 2</h3>
                    <p>This is the second story about Kangan changing a life.</p>
                </div>
                <div class="card">
                    <h3>Story 3</h3>
                    <p>This is the second story about Kangan changing a life.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="blog" class="section blog-section">
        <h2>Machine Docter</h3>
        <div class="container">
            <div class="grid blog-grid">
                <article class="card">
                    <img src="https://cdn.shopify.com/s/files/1/2796/2834/files/drt_240x240.png?v=1622675042" alt="">
                    <h3>Dr.Jerry Tennant</h3>
                    <p><b>How to Recharge Your Body-Bettery</b><br>Every cell in the body is designed to run at <br> -20 to -25 milivolts. TO heal, we must make new cells. <br>To make a new cell
                         requires -50 millivolts. Chronic disease <br>occurs when voltage drops below -20 and/or you cannot <br> achieve -50 millivolts to make new cells. <br>Thus chronic disease 
                         is always defined by having low voltage. <br> This book tells book tells you to measure your voltage <br> in each organ, How to correct it. and how to determine <br>why your
                          voltage dropped enough to allow you to get sick. <br>Healing Is Voltage : <br>The Handbook, Jerry Tennant,MD, MD(H), PSc.,D</p>
                </article>
                <article class="card">
                    <img src="https://www.nobelprize.org/images/warburg-12976-content-portrait-mobile-tiny.jpg" alt="">
                    <h3>Dr. Otto Heinrich Warbeg</h3>
                    <p><b>Discoverd the cause of cancer in 1923 and received <br>the Nobel Prize for Physiology in 1931</b><br>In his study "Metabolisam of Tumors", he demonstrated <br>that all forms of cancer are categorized by two <br>basic conditions.</p>
                </article>
                <article class="card">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Peter_Agre.jpg/300px-Peter_Agre.jpg" alt="">
                    <h3>Dr. Peter Agre</h3>
                    <p>was awarded the Nobel Prize in Chemistry for his <br> discovery of <b>Aquaporints, </b> proteins that govern the movement of <br>water in and out of cells through water channels.</p>
                </article>
            </div>
        </div>
    </section>

    <section id="slider" class="slider-main">
        <h2>Kangan Machine Types</h2>
        <div class="slider">
            <div class="slides">
                <img src="https://i.postimg.cc/qvHNNc3P/img1.jpg" alt="Machine 1">
                <img src="https://i.postimg.cc/qqzhvsj6/img2.jpg" alt="Machine 2">
                <img src="https://i.postimg.cc/y8vg7Lzj/img3.jpg" alt="Machine 3">
                <img src="https://i.postimg.cc/65ZFsPCs/img4.jpg" alt="Machine 4">
                <img src="https://i.postimg.cc/xdmXLnzx/img5.jpg" alt="Machine 5">
                <img src="https://i.postimg.cc/jSg1yrb7/img6.jpg" alt="Machine 6">
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <div class="dot-container">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
            <span class="dot" onclick="currentSlide(6)"></span>
        </div>
    </section>
    </section>

    <section class="contact-section" id="contact">
        <h2>Contact Us</h2>
        <form id="contactForm" action="/submit_form" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="phone">Phone Number:</label>
            <input type="tel" id="phone" name="phone" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>
            <button type="submit">Submit</button>
        </form>
       
    </section>

    <script src="static/scripts.js"></script>
</body>
</html>
